/* I applied this class to the nav tag 
This changes the background color of the entire
navbar*/
.bg-color {
    background-color: blueviolet;
}

/* I applied this class to each of the a tags so each link 
has a white text color*/
.link_color {
    color:white;
}

/* This class is only applied to the current page you are on, it 
changes only the color of the current page */
.active_tab {
    background-color: green;
    color: blue;
}

/* For every a tag that is inside a nav tag, 
by using the CSS keyword ":hover", I am saying that I want that
<a> tag to take on the characteristics defined inside of this blurb */
nav a:hover {
    background-color: purple;
    color: red;
}

/*Sets the big container to move in reference
to your other elements*/
.container {
    background-image: url("knitting.JPG");
    position: relative;
}

/*The little container will have a fixed position
inside of the larger container*/
#child-container {
    position: absolute;
 
}


