#head {
    background-color: #7D90A2;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Abril Fatface', cursive;
}


/* I applied this class to the nav tag 
This changes the background color of the entire
navbar*/
.bg-color {
    background-color: #7D90A2 ;
}

/* I applied this class to each of the a tags so each link 
has a white text color*/
.link_color {
    color:white;
}

/* This class is only applied to the current page you are on, it 
changes only the color of the current page link and the text color */
.active_tab {
    background-color: #BCF5F9;
    color: #4D6D9A;
}

/* For every <a> tag that is inside a nav tag, 
by using the CSS keyword ":hover", I am saying that I want that
<a> tag to take on the characteristics defined inside of this blurb */
nav a:hover {
    background-color: #5F6366;
    color: white;
}

/*Sets the big container to move in reference
to your other elements*/
.container {
    position: relative;
}

/*The little container will have a fixed position
inside of the larger container. So the larger container
will still move around on the page and the little container
will move with it, but inside the large container the child
container is fixed*/
#child-container {
    position: absolute;
 
}

#footer {
width: 100%;
z-index: 999;
position: fixed;
left: 0;
bottom: 0;
background-color: black;
opacity: 70%;
color: white;
text-align: center;
}

.container2 {
position: relative;
margin-left: -16px;
margin-bottom: -60px;
padding-bottom: 65px;
}