body {
    background-image: url(https://images.homedepot-static.com/productImages/0c87d10f-8177-494d-8e36-54da063afb10/svn/arabescus-carrara-marble-stonemark-marble-countertops-p-rsl-abscra-3x3-64_1000.jpg);
}

h1 {
text-align: center;
font-family: 'Open Sans Condensed', sans-serif;
}

p {
    text-indent: 12px;
}

div {
font-family: 'Open Sans Condensed', sans-serif;
}

#footer {
width: 100%;
z-index: 999;
position: fixed;
left: 0;
bottom: 0;
background-color: black;
opacity: 70%;
color: white;
text-align: center;
}

.container2 {
position: relative;
margin-left: -16px;
margin-bottom: -60px;
padding-bottom: 65px;
}

<<<<<<< HEAD
#head {
    background-color: #7D90A2;
    padding: 10px;
    text-align: center;
}
=======
>>>>>>> 2e378a818e1e53dfb4c2250198c00812d2f33b3a
/* I applied this class to the nav tag 
This changes the background color of the entire
navbar*/
.bg-color {
    background-color: #7D90A2 ;
}

/* I applied this class to each of the a tags so each link 
has a white text color*/
.link_color {
    color:white;
}

/* This class is only applied to the current page you are on, it 
changes only the color of the current page link and the text color */
.active_tab {
    background-color: #BCF5F9;
    color: #4D6D9A;
}

/* For every <a> tag that is inside a nav tag, 
by using the CSS keyword ":hover", I am saying that I want that
<a> tag to take on the characteristics defined inside of this blurb */
nav a:hover {
    background-color: #5F6366;
    color: white;
}

.container {
    background-image: url(https://avalon.fabiosacdn.com/image/41c12367-8cb3-49fa-83da-55d1e5d42f35.jpg);
    background-size: cover;
}