#head {
    background-color: #7D90A2;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Abril Fatface', cursive;
}


.bg-color {
    background-color: #7D90A2 ;
}


.link_color {
    color:white;
}


.active_tab {
    background-color: #BCF5F9;
    color: #4D6D9A;
}


nav a:hover {
    background-color: #5F6366;
    color: white;
}

#footer {
width: 100%;
z-index: 999;
position: fixed;
left: 0;
bottom: 0;
background-color: black;
opacity: 70%;
color: white;
text-align: center;
}

.container {
position: relative;
margin-left: -16px;
margin-bottom: -60px;
padding-bottom: 65px;
}
